@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

body {
    font-family: 'open sans', sans-serif;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: auto;
}
.bar {
    background-color: #117050;
    width: 170px;
    height: 22px;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    line-height: 100px;
    color: #111;
    margin: 0;
    margin-bottom: 35px;  
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 38px;
    line-height: 45px;
    color: #111;
    margin-top: 10px;
}
.button {
    display: inline-block;
    border: 2px solid #454545;
    border-radius: 3px;
    padding: 10px 30px;
    color: #454545;
    text-decoration: none;
}
.button:hover {
    color: #fff;
    background-color: #454545;
}


header .line {
    background-color: #117050;
    height: 10px;
}

.header-area {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header-left img {
    width: 64px ;
    height: 64px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-search form {
    display: flex;
}

.header-search input {
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #aaa;
    outline: 0;
    width: 100%;
    max-width: 280px;
}

.header-search input::placeholder {
    color: #aaa;
}

.header-search button {
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header-search button img {
    width: 16px;
    height: 16px;
    margin-top: 5px;
}

.header-menu {
    margin-left: 60px;
}

.header-menu img {
    width: 25px;
    height: 25px;
}


.banner {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}

.banner-images {
    margin-top: 60px;
}

.banner-images img {
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 35px;
}


.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1-content {
    padding: 80px;
} 

.area1-quote {
    margin-bottom: 30px;
}
.area1-text {
    line-height: 28px;
    margin-bottom: 60px;
}

.area1-img1 {
    background-image: url(../images/f2.jpg);
    background-position: center;
    background-size: cover;
    height: 350px;
}

.area1-img2 {
    background-image: url(../images/f1.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}


.area2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area2-content {
    padding: 80px;
} 

.area2-text {
    line-height: 28px;
    margin-bottom: 40px;
}

.area2-img1 {
    background-image: url(../images/f4.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
}

.area2-img2 {
    background-image: url(../images/f3.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}


.area3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area3-content {
    background-image: url(../images/bg2.jpg);
    background-position:left;
    background-size: cover;
    padding: 215px 80px;  
} 

.area3-text {
    line-height: 28px;
    margin-bottom: 40px;
}

.area3-img1 {
    background-image: url(../images/f5.jpg);
    background-position: center;
    background-size: cover;
}


.area4 {
    display: grid;
    grid-template-columns: 390px 1fr;
    background-color: #e8e9ee;
}

.area4-content {
    padding-left: 80px;
    padding-top: 160px;
    padding-bottom: 160px;
} 

.area4-text {
    line-height: 28px;
    margin-bottom: 40px;
}

.area4-img1 {
    background-image: url(../images/bg3.jpg);
    background-position: left;
}

.area5 {
    background-image: url(../images/bg4.jpg);
    background-position:bottom;
    background-size: cover;
    height: 550px;
}


footer {
    background-color: #454545;
    color: #fff;
    padding: 100px;
    text-align: center;
}

footer a {
    color: #50d8b9;
}



@media (min-width: 769px) and (max-width: 1140px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    h1 {
        font-size: 75px;
        line-height: 85px;
    }
    h2 {
        font-size: 28px;
        line-height: 35px;
    }
    .banner-images img {
        width: 120px;
        height: 120px;
        border: 4px solid #117050;
        margin-right: 25px;
    }
    

    .area1-content {
        padding: 30px;
    } 
    
    .area1-quote {
        margin-bottom: 30px;
    }
    .area1-text {
        margin-bottom: 40px;
    }
    
    .area1-img1 {
        height: 240px;
    }


    .area2-content {
        padding: 30px;
    } 
    
    .area2-quote {
        margin-bottom: 30px;
    }
    .area2-text {
        margin-bottom: 40px;
    }
    
    .area2-img1 {
        height: 220px;
    }


    .area3-content {
        padding: 100px 30px;  
    } 
    
    
    .area4 {
        grid-template-columns: 250px 1fr;
    }
    
    .area4-content {
        padding-left: 30px;
        padding-top: 80px;
        padding-bottom: 80px;
    } 
    .area4-img1 {
        background-size: cover;
    }

    .area5 {
        height: 450px;
        
    }

    footer {
        padding: 60px;
    }
    
}

@media (min-width: 426px) and (max-width: 768px) {
    body {
        font-size: 15px;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .bar {
        width: 130px;
        height: 15px;
    }
    h1 {
        font-size: 70px;
        line-height: 80px;
    }
    h2 {
        font-size: 20px;
        line-height: 25px;
    }
    .button {
        padding: 5px 15px;
    }


    .banner {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .banner-images img {
        width: 95px;
        height: 95px;
        border: 3px solid #117050;
        margin-right: 15px;
    }
    

    .area1-content {
        padding: 20px;
    } 
    
    .area1-quote {
        margin-bottom: 20px;
    }
    .area1-text {
        margin-bottom: 25px;
    }
    
    .area1-img1 {
        height: 150px;
    }


    .area2-content {
        padding: 20px;
    } 
    
    .area2-quote {
        margin-bottom: 15px;
    }
    .area2-text {
        margin-bottom: 20px;
    }
    
    .area2-img1 {
        height: 150px;
    }


    .area3-content {
        padding: 20px;  
    } 
    
    
    .area4 {
        grid-template-columns: 150px 1fr;
    }
    
    .area4-content {
        padding-left: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
    } 
    .area4-img1 {
        background-size: cover;
    }


    .area5 {
        height: 280px; 
    }


    footer {
        padding: 30px;
    }
}

@media (max-width: 425px) {
    body {
        font-size: 13px;
    }
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .bar {
        width: 120px;
        height: 15px;
    }
    h1 {
        font-size: 55px;
        line-height: 65px;
    }
    h2 {
        font-size: 20px;
        line-height: 25px;
    }
    .button {
        padding: 3px 10px;
    }

    .header-search input {
        max-width: 150px;
    }

    .header-menu {
        margin-left: 15px;
    }

    .banner {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .banner-images img {
        width: 85px;
        height: 85px;
        border: 3px solid #117050;
        margin-right: 5px;
    }
    

    .area1-content {
        padding: 15px;
    } 
    
    .area1-quote {
        margin-bottom: 15px;
    }
    .area1-text {
        margin-bottom: 20px;
    }
    
    .area1-img1 {
        height: 95px;
    }


    .area2-content {
        padding: 15px;
    } 
    
    .area2-quote {
        margin-bottom: 10px;
    }
    .area2-text {
        margin-bottom: 15px;
    }
    
    .area2-img1 {
        height: 110px;
    }


    .area3-content {
        padding: 15px;  
    } 
    
    
    .area4 {
        grid-template-columns: 130px 1fr;
    }
    
    .area4-content {
        padding-left: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
    } 
    .area4-img1 {
        background-size: cover;
    }


    .area5 {
        height: 200px; 
    }


    footer {
        padding: 30px;
    }
}